<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code Generator 2025</title>
  </head>
  <body>
    <h1>QR Code Generator 2025</h1>

    <img
      src="{{ url_for('static', filename='images/' + ('qrcode.png' if qr_generated else 'default.png')) }}?{{ timestamp }}"
      alt="QRCode will appear here"
    />
    <form method="POST" action="/">
      <div id="customization">
        <div>
          <label for="url">URL:</label>
          <input type="url" id="url" name="url" required />
        </div>
        <div>
          <label for="fillColor">Fill Color:</label>
          <input type="color" id="fillColor" name="fillColor" value="#000000" />
        </div>
        <div>
          <label for="bgColor">Background Color:</label>
          <input type="color" id="bgColor" name="bgColor" value="#ffffff" />
        </div>
        <div>
          <label for="boxSize">Box Size (1-20):</label>
          <input
            type="number"
            id="boxSize"
            name="boxSize"
            min="1"
            max="20"
            value="10"
          />
        </div>
      </div>
      <button type="submit">Generate QR Code</button>
    </form>

    <footer>
      <p>Created by Risheet Lenka</p>
    </footer>
  </body>
</html>
